 .post-nav-wrap {
     position: relative;
     .next-post, .prev-post{
         *{
        font-size: 29px;
        font-weight: $font_regular;
     }
    }
     .next-post {
         position: absolute;
         right: 0;
         
     }
     .prev-post {
         position: absolute;
         left: 0;
     }
     .kategorie {
        position: initial;
        @include media-breakpoint-up(lg) {
            position: absolute;
            top: -10px;
        }
        left: 0;
        right: 0;
        .info-wrapp {
            flex-direction: column;
            text-transform: uppercase;
            span {
                margin: 5px 0px;
            }
            @include media-breakpoint-up(md) {
                flex-direction: row;
            }
        }
     }
 }   
