.main-tag {
    margin-bottom: 100px;

    p {
        margin-top: 120px;
    }
}

.contact-item--container {
    p {
        margin-top: 50px;
    }

    margin-bottom: 130px;
}

.contact-item--container-details {
    .article-container {
        padding: 50px 0 150px 0;
        border-top: 1px solid lightgray;

        h1 {
            padding-bottom: 140px;
            color: #000000;
            font-family: Poppins;
            font-size: 32px;
            font-weight: 600;
            text-transform: uppercase;

        }

        h3 {
            color: #000000;
            font-family: Poppins;
            font-size: 20px;
            font-weight: 600;
            line-height: 40px;
            text-transform: uppercase;
        }

        p:nth-of-type(1) {
            // padding-top: 40px;
            margin-top: 20px;
            &::before {
                content: '';
                //display: block;
                left:-30px;
                width:23px;
                height: 23px;
                background-image: url('images/phone.svg');
                background-size: 100%;
                background-repeat: no-repeat;
                position: absolute;
            }
        }

        p {
            margin-left: 35px;
            padding-top: 20px;
            position: relative;
            &::before {
                content: '';
                //display: block;
                left:-30px;
                width:26px;
                height: 23px;
                background-image: url('images/email.svg');
                background-size: 100%;
                background-repeat: no-repeat;
                position: absolute;
            }
        }
    }
}