$primary_font: 'Poppins', sans-serif;
$font_regular: normal;
$font_bold: bold;
$font_black: 900;

$transparent: transparent;
$formularz: #6c0b6c;
$walidacja: #ff4800;
$white: #ffffff;
$black: #000000;
$black2: #646464;
$stopka: #4c4c4c;
$info-biuro: #7db3b3;
$tlo-biuro: #f7efea;
$fuzja1: #f6accd;
$fuzja2: #ffb600;
$darkyellow: #ffb81d;
$wyszukiwarka: #9f2178;
$grey1: #323232;
$grey-light: #f7f7f7;

//kolory sekcji
$color-inwestycja: #6c0b6c;
$color-lokalizacja: #2fba8c;
$color-mieszkania: #ffa600;
$color-deweloper: #99bccc;
$color-kontakt: #db4d9c;

$colors: (transparent: $transparent,
formularz: $formularz,
walidacja: $walidacja,
white: $white,
black: $black,
black2: $black2,
stopka: $stopka,
info-biuro: $info-biuro,
tlo-biuro: $tlo-biuro,
fuzja1: $fuzja1,
fuzja2: $fuzja2,
darkyellow: $darkyellow,
wyszukiwarka: $wyszukiwarka, 
inwestycja: $color-inwestycja,
lokalizacja: $color-lokalizacja,
mieszkania: $color-mieszkania,
deweloper: $color-deweloper,
kontakt: $color-kontakt,
grey1: $grey1,
grey-light: $grey-light
);

$grid-breakpoints: (xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1920px);

$container-max-widths: (sm: 540px,
md: 720px,
lg: 960px,
xl: 1140px,
xxl: 1860px);

$spacer: 1rem !default;
$spacers: () !default;

$spacers: map-merge((0: 0,
1: ($spacer * .25),
2: ($spacer * .5),
3: $spacer,
4: ($spacer * 1.5),
5: ($spacer * 3),
6: ($spacer * 5.5),
7: ($spacer * 7),
8: ($spacer * 10),
9: ($spacer * 15),
10: ($spacer * 20)),
$spacers);
